{% extends "base.html" %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h1>Search</h1>

    <div class="input-group mb-3 d-flex justify-content-center">
        <form action="{{ url_for('core.search') }}" method="POST" style="display: inline-flex;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="search">
            <select name="searchOption" class="form-select">
                <option value="keywords" name="keywords">Keywords</option>
                <option value="similarity" name="similarity">Similarity</option>
            </select>
            <button class="btn btn-outline-primary" type="submit" value="Search">Search</button>
        </form>
    </div>
    <p id="searchResult"></p>
</div>

<hr />


<h1 class="d-flex align-items-center justify-content-center"> Files </h1>

{% for document in documents %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ document.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ document.owner }} - {{ document.created_on }}</h6>
        <p class="card-text">{{ document.content|striptags|truncate(200) }}</p>
    </div>
</div>
{% endfor %}


{% endblock %}