<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FileSense</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>




<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h1>Search</h1>

    <div class="input-group mb-3 d-flex justify-content-center">
        <form action="{{ url_for('core.search') }}" method="POST" style="display: inline-flex;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="search">
            <select name="searchOption" class="form-select">
                <option value="keywords" name="keywords">Keywords</option>
                <option value="similarity" name="similarity">Similarity</option>
            </select>
            <button class="btn btn-outline-primary" type="submit" value="Search">Search</button>
        </form>
    </div>
    <p id="searchResult"></p>
</div>

<hr />



<!-- Separate search for both keywords and similarity.
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h1>Search</h1>

    <div class="input-group mb-3 d-flex justify-content-center align-items-center flex-column">
        <form action="{{ url_for('core.search') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="keywords">
            <button class="btn btn-outline-primary" type="submit" value="Search">Search by keywords</button>
        </form>

        <p></p>

        <form action="{{ url_for('core.search') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="similarity">
            <button class="btn btn-outline-primary" type="submit" value="Search">Search by similarity</button>

        </form>
    </div>
    <p id="searchResult"></p>
</div>

<hr /> -->

<!-- Initial searches 
    
    Search by keywords:
<form action="{{ url_for('core.search') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="text" name="keywords">
        <input type="submit" value="Search">
</form>

Search by similarity:
<form action="{{ url_for('core.search') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="text" name="similarity">
        <input type="submit" value="Search">
</form> 

<hr /> -->

<!-- {% for document in documents %}
<div>
    <a href="{{ url_for('core.view', document_id=document.id) }}">{{ document.title }}</a>
    {{ document.content|striptags|truncate(200) }}
</div>
{% endfor %} -->


<h1 class="d-flex align-items-center justify-content-center"> Files </h1>

{% for document in documents %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ document.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <p class="card-text">{{ document.content|striptags|truncate(200) }}</p>
        <p class="card-text">{{ document.owner }} - {{ document.created_on }}</p>
    </div>
</div>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>