{% extends "base.html" %}

{% block content %}


<div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center"  style="background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('/static/storage.webp'); background-size: cover; background-position: center center; height: 100vh; backdrop-filter: blur(15px);">
  <div class="container text-center">
    <h1 class="display-4" style="color: white;">FileSense</h1>
    <p class="lead" style="color: white;;">Effortlessly store and manage files using AI. Instantly organize, secure, and find files with smart categorization and
    lightning-fast search.</p>
  </div>
</div>

<footer class="footer mt-auto py-3" style="background-color: #287094; color:#F6F6F6"> <!-- bg-light -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>FileSense</h2>
        <p class="mt-2">We're dedicated to transforming file storage with AI. Our goal is simple: simplify file management through innovative
        technology. We empower users with seamless organization, security, and accessibility, redefining how files are stored
        and managed.</p>
      </div>
      <div class="col"></div>
      <div class="col">
        <h5>Contact</h5>
        <p>Politehnica University Bucharest, Romania</p>
        <p>Telephone: +40 723 456 789</p>
        <p>Email: info@filesense.com</p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
